<neo>
  <script src="https://purpos.web.app/ui/sen.js"></script>
  <script>
    set.title("Neo Sample App");
    set.info("A simple Neo app");
    set.key("neo, app, sample");
    set.view();
    set.cover(1);
    set.icon(1);
    ui();
  </script>

      
  <div class=" base" id="preview"> 
</div> 
    <script class=" base" id="preview2"> 
</script> 
    
 <script src="https://futr.web.app/f.js">
  </script> 
    
<script src="script.js">
  </script> 
  <script>
  
   
     preview()

  </script>
  
</neo>
